*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --ligthGray: #e3dfde;
    --purple: #9350B1;
    --ligthPurple: #F8E4F5;

}

body{
    background-color: var(--ligthGray);
    padding:  25px;
    min-width: 600px;
}

.encabezado{
    background-color: ver(--ligthPurple);
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
}

.header1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.encabezado figure img{
    width: 50px;

}

.encabezado h1 {
    color: white;
    text-transform: uppercase;
}

.main-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    background-color: var(--ligthPurple);
}

.charizard-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.title{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border-radius: 15px;
}

.title figure img{
    width: 50px;
    height: 50px;

}

.image-charizard{
    width: 100%;
}

.image-charizard img{
    width: 100%;
    object-fit: cover;
}

.info-pokemon{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 15px;
    width: 40%;
    gap: 20px;
}

.row-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-info{
    font-size: 20px;
    justify-content: center;
    padding-right: 10px;
}

.info-text{
    font-size: 24px;
    font-weight: bolder;
    justify-content: center;
}

.hability{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.footer-content figure img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.footer-content figure{
    padding: 15px;
    background-color: var(--ligthPurple);
    border-radius: 10px;
    margin: 10px;
}

.footer-content figure:hover{
    cursor: pointer;
    background-color: var(--purple);
}

.footer-content div{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 20px;
    width: 65%;
}

#inputSearch {
    background-color: var(--ligthPurple);
    border-radius: 10px;
    width: 180px;
    height: 25px;
    border-color: #fff;
}

.btn{
    background-color: var(--ligthPurple);
    border-color: #fff;
    width: 65px;
    height: 25px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bolder;
}

body::-webkit-scrollbar {
    background: #E3DFDE;
}

body::-webkit-scrollbar-thumb {
    /* background: #F8E4F5; */
    /* background-color: floralwhite; */
    border-radius: 10px;
    background: #d7b3e7;
}

.buttons-container::-webkit-scrollbar{
    background: #F8E4F5;
}

.buttons-container::-webkit-scrollbar-thumb{
    background: #d7b3e7;
    border-radius: 10px;
}

.search ::placeholder{
    color: black;
}


@media (max-width: 700px) {

    .encabezado{
        justify-content: center;

    }
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    .charizard-container{
        width: 90%;
        z-index: 2;
    }
    .info-pokemon{
        width: 85%;
        height: 60vh;
        transform: translateY(-100px);
    }

    .buttons-container{
        display: flex;
        flex-direction: column;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
    }

    .others{
        padding-top: 80px;
    }

    .btn{
        margin-left: 60px;
        margin-top: 8px;
    }

    .row-info{
        justify-content: center;
    }

    .title-info{
        justify-content: center;
    }
}